.container{
    min-width: 80%;
    height: 50%;
    margin: 6.5%;
    /* background-image: url(images/form_bg.jpg); */
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:azure ;
}
.card{
    background-color: rgb(199, 199, 131);
}
h2,p{
    text-align: center;
}