.bg{
    border: 1px solid black;
    padding: 15px;
    background-color: #d9eaac;
    width: fit-content;
}
textarea{
    max-height: 4rem;
}
.tbl-heading{
    border: 1px solid black;
    padding: 25px;
    width: max-content;
    background-color: rgb(228, 209, 199);
}
.tbl-data{
    border: 1px solid black;
    width: max-content;
    background-color: rgb(209, 229, 232);
    padding: 1rem;
}
.btn-adjust{
    padding-bottom: 0.5rem;
}