.left-halff{
    background-color: #f0eaea;

}
.form-edit{
    padding: 10rem 1rem 3rem 4rem;
}
.fonts{
    font-family: cursive;
}
.image-global{
    padding: 4rem 0 4rem 0;
}
.button{
    width: 8rem;
    background-color: #20ba32;
}