//variables
$primaryColor_1 : #93f33f;
$primaryColor_2 : #e8a7a7;
$primaryColor_3 : #b33c5e;
$myfontSize : 2rem;
$mycolor : #6ccbe8;
$myFont : OCR A Std, monospace;
$containerSize: 30rem;

header{
    background-color: $primaryColor_1;
}
.container{
    background-color: #93f33f;
}
body{
    background-color: red !important;
}